*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height:100vh;
    background-image: linear-gradient(rgb(86, 244, 112), rgb(5, 91, 15));

  padding-bottom: 50px;

}

.container form{
    padding: 20px;
    width: 40%;
    background-color:rgb(241, 239, 239);
    
}

.container form .row{
   display: flex;
   gap:  10px;
   
}

.container form .row .col{
    flex: 1 1 250px;
   
}

.container form .row .col h3{
    font-size: 20px;
    color: rgb(1, 1, 9);
    padding-bottom: 10px;
    text-align: left;
}

.input-box{
    margin:15px 0 ;
}

.input-box span{
    margin-bottom: 10px;
    display: block;
}

.input-box input{
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid rgb(239, 233, 233);
}

input:focus{
    border: 1px solid black;
}

.flex{
    display: flex;
    gap: 15px;
}

.flex .input-box{
    margin-top: 5px;
}

.submit-btn{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(18, 91, 18);
    color: #fffbfb;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: rgb(105, 213, 105);
}